.photo-grid{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: auto;
  justify-content: center;
}
.photo-grid__image {
  max-width: 100%;
  max-height: 213px;
}

@media screen and (max-width: 768px) {
  .photo-grid{
    max-width: 100%;
  }
  .photo-grid__image{
    max-width: 352px;
    max-height: 264px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid{
    max-width: 100%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .photo-grid__image {
    max-width: 100%;
    max-height: 216px;
  }
}