
.header{}
.header__logo{
  max-width: 270px;
  max-height: 70px;
  margin: auto;
  display: block;
  padding-top: 30px;
}

@media screen and (max-width: 320px) {
  .header__logo{
    max-width: 200px;
}