@import url(../vendor/normalize.css);
body{
  background-color: darkslateblue;
  font-family: inter, sans serif;
  color: #fff;
}
.container{
  width: 1280px;
  margin: 0 auto;
}

.header{}
.header__logo{
  max-width: 270px;
  max-height: 70px;
  margin: auto;
  display: block;
  padding-top: 30px;
}

.lead{
  text-align: center;
}
.lead__title{
  font-size: 98px;
  max-width: 780px;
  margin: 0 auto;
  padding: 30px 0;
  font-weight: 900;
}
.lead__subtitle{
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 64px;
  margin: auto;
  max-width: 720px;
}
.lead__image{
  max-width: 984px;
}
.intro{
  max-width: 1017px;
  margin: 0 auto;
}
.intro__title{
  font-size: 54px;
  font-weight: 900;
}
.intro__blockquote{
  width: 70%;
  font-weight: 400;
  line-height: 34px;
  font-size: 24px;
}
.intro__author{
  font-weight: 400;
  line-height: 34px;
  font-size: 24px;
  text-align: right;
  width: 70%;
}
.intro__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 70%;
}
.photo-grid{
  max-width: 1184px;
  margin: 50px  auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.photo-grid__item{}
.photo-grid__image{}

.places{
  max-width: 987px;
  margin: 0 auto;
}
.place{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 40px;
  grid-template-areas: "place__title place__author"
  "place__photo place__text"
  "place__button place__text"
  ". place__text";
  padding-bottom: 80px;
  justify-content: center;
  max-width: 100%;
}
.place__button{
  grid-area: place__button;
  background: #0278FE;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  max-width: 355px;
  margin: 30px 0;
  border: 0;
}
.place__title{
  font-size: 72px;
  line-height: 76px;
  grid-area: place__title;
}
.place__photo{
  max-width: 460px;
  grid-area: place__photo;
}
.place__author{
  grid-area: place__author;
  align-self: center;
}
.place__artist{
  font-size: 12px;
  text-transform: uppercase;
  color: #aaaaaa;
  letter-spacing: 0.12em;
}
.place__name-profession{}
.place__text{
  font-weight: 400;
  font-size: 12px;
  line-height: 29px;
  grid-area: place__text;
}
.cover{
  max-width: 1184px;
  min-height: 714px;
  margin: 0 auto;
  text-align: center;
  background: url("../images/cover__background.jpg") no-repeat;
}
.cover__title{
  font-weight: 900;
  font-size: 72px;
  margin: 0;
}
.cover__subtitle{
  max-width: 280px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin: 0 auto;
}
.cover__button{}

.footer{}
.footer__copyright{}
